/* 전체 화면을 꽉 채우도록 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100%;
  background-color: #f0f4f7;
}

/* 헤더 */
header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  align-items: center;
  box-sizing: border-box;
  border: 0.5px solid #d6d6d6;
}

.logo {
  margin-top: 25px;
  margin-left: 30px;
  max-width: 40%;
  max-height: 40%;
}

/* 메인 콘텐츠 */
main {
  position: absolute;
  top: 80px;
  bottom: 80px;
  width: 100%;
  display: flex;
}

/* 전체 사이드바 */
nav {
  width: 250px;
  background-color: #3c4b64;
  height: 100%;
  overflow-y: auto;
}

/* 첫번째 사이드바 */
#first-sidebar {
  width: 250px;
  height: 100px;
  background-color: #303c54;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

#second-sidebar {
  margin-top: 20px;
}

/* 두, 세번째 사이드바 */
#second-sidebar,
#third-sidebar {
  width: 250px;
  height: 54px;
  background-color: #3c4b64;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
}

.fa-solid {
  margin-right: 10px;
}

#second-sidebar:hover,
#third-sidebar:hover {
  background-color: #798291;
}

/* 링크 스타일 */
a:link,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}

/* 콘텐츠 섹션 */
section#content {
  flex: 1;
  padding: 2em;
  overflow-y: auto;
}

/* 페이지 컨텐츠 */
/* #app {
  line-height: 1.5;
  font-weight: 500;
} */

a {
  color: #009579;
}

hr {
  margin-left: 55px;
  margin-top: 20px;
  margin-bottom: -20px;
  border: 0.5px solid #d6d6d6;
  width: 1520px;
}

/* 푸터 */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #efefef;
  box-sizing: border-box;
  border: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

/* 추가: 클릭된 사이드바 항목의 스타일 */
.active-sidebar {
  background-color: #798291 !important;
}
