/* 전체 화면을 꽉 채우도록 설정 */
html,
body {
  height: 100%;
  margin: 0;
}

/* 헤더 */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: lightgray;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 10px;
  max-width: 40%;
  max-height: 40%;
}

main {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* 전체 사이드바 */
#side-bar {
  position: fixed;
  top: 80px;
  left: 0;
  width: 200px;
  height: calc(100% - 160px);
  background-color: #3c4b64;
}

/* 첫번째 사이드바 */
#first-sidebar {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 100px;
  background-color: #303c54;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

/* 두번째 사이드바 */
#second-sidebar {
  position: absolute;
  top: 130px;
  width: 200px;
  height: 80px;
  background-color: #3c4b64;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

.fa-solid {
  margin-right: 10px;
}

#second-sidebar {
  cursor: pointer;
}

#second-sidebar:hover {
  background-color: #303c54;
}

/* 세번째 사이드바 */
#third-sidebar {
  position: absolute;
  top: 210px;
  width: 200px;
  height: 80px;
  background-color: #3c4b64;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

#third-sidebar {
  cursor: pointer;
}

#third-sidebar:hover {
  background-color: #303c54;
}

#body {
  margin-left: 200px;
}

#body-top {
  height: 20px;
  background-color: lightpink;
}

#body-bottom {
  padding: 10px 10%;
}

/* 컨테이너 박스 */
#container-box {
  padding: 10px 5%;
  height: 600px;
  margin: 0 auto;
  border: 2px solid #d6d6d6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* 컨테이너박스 상단 줄 */
#container-box::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  border-top: 1px solid #d6d6d6;
}

/* 전체 유저 수 */
#total-users {
  width: 10%;
  height: 20px;
  float: left;
}

/* 검색창 */
#search-container {
  width: 20%;
  height: 20px;
  float: right;
}

#searchInput::placeholder {
  font-size: 12px;
}

.search-container input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  margin-right: 0;
  font-size: 12px;
  border: none;
}

.search-button {
  padding: 6px 6px;
  margin-top: 8px;
  margin-left: 0;
  background: #ddd;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background: #ccc;
}

/* 유저 테이블 */
#my-table {
  clear: both;
  width: 100%;
  height: calc(100% - 120px);
  background-color: lightgray;
}

td,
th {
  text-align: left;
  padding: 0.5rem 1rem;
}

tbody tr:nth-child(odd) {
  background-color: #ccc;
}

th {
  background-color: #444;
  color: #fff;
}

.col1 {
  width: 10%;
}
.col2 {
  width: 18%;
}
.col3 {
  width: 16%;
}
.col4 {
  width: 20%;
}

/* 회원 가입 */

#register-button {
  background-color: #ddd;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.input-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.input-container label {
  margin-right: 10px;
}

.input-container input {
  flex: 1;
  padding: 8px;
}

.input-container button {
  margin-top: 20px;
  padding: 6px 12px;
}

.modal-content button {
  margin-top: 20px;
}

/* 회원 삭제 */
#delete-area {
  width: 5%;
  height: 50px;
  float: left;
  background-color: yellow;
}

#delete-button {
  background-color: #ddd;
  cursor: pointer;
}

#deleteButton:hover {
  background-color: lightblue;
}

/* 삭제 모달 */
/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn-container {
  text-align: center;
}

.modal-buttons button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

#confirmDeleteButton {
  background-color: red;
  color: white;
}

#cancelButton {
  background-color: #ccc;
} */

/* 회원 등록 */
#register-area {
  width: 5%;
  height: 50px;
  float: right;
  background-color: yellow;
}

/* 페이지네이션 */
#pagination {
  width: 90%;
  height: 50px;
  float: left;
  background-color: blueviolet;
}

/* 푸터 */
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
