/* 전체 화면을 꽉 채우도록 설정 */
html,
body {
  height: 100%;
  margin: 0;
}

/* 헤더 */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: lightgray;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 10px;
  max-width: 40%;
  max-height: 40%;
}

main {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* 전체 사이드바 */
#side-bar {
  position: fixed;
  top: 80px;
  left: 0;
  width: 200px;
  height: calc(100% - 160px);
  background-color: #3c4b64;
}

/* 첫번째 사이드바 */
#first-sidebar {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 100px;
  background-color: #303c54;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

/* 두번째 사이드바 */
#second-sidebar {
  position: absolute;
  top: 130px;
  width: 200px;
  height: 80px;
  background-color: #3c4b64;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

.fa-solid {
  margin-right: 10px;
}

#second-sidebar {
  cursor: pointer;
}

#second-sidebar:hover {
  background-color: #303c54;
}

/* 세번째 사이드바 */
#third-sidebar {
  position: absolute;
  top: 210px;
  width: 200px;
  height: 80px;
  background-color: #3c4b64;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

#third-sidebar {
  cursor: pointer;
}

#third-sidebar:hover {
  background-color: #303c54;
}

#body {
  margin-left: 200px;
}

#body-top {
  height: 20px;
}

#body-bottom {
  padding: 10px 10%;
}

/* 경로표시 */
#first-breadcrumb {
  font-size: 26px;
  font-weight: bold;
  margin-right: 15px;
}

#second-breadcrumb {
  font-size: 12px;
  color: gray;
}

#first-breadcrumb,
#second-breadcrumb {
  display: inline;
}

/* 컨테이너 박스 */
#container-box {
  padding: 10px 5%;
  height: 600px;
  margin: 0 auto;
  border: 2px solid #d6d6d6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* 컨테이너박스 상단 줄 */
#container-box::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  border-top: 1px solid #d6d6d6;
}

/* 전체 유저 수 */
#total-users {
  width: 10%;
  height: 20px;
  float: left;
  margin-bottom: 10px;
}

/* 검색창 */
#search-container {
  width: 20%;
  height: 20px;
  float: right;
  margin-bottom: 10px;
}

#searchInput::placeholder {
  font-size: 12px;
}

.search-container input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  margin-right: 0;
  font-size: 12px;
  border: none;
}

.search-button {
  padding: 6px 6px;
  margin-top: 8px;
  margin-left: 0;
  background: #ddd;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background: #ccc;
}

/* 유저 테이블 */
#my-table {
  clear: both;
  width: 100%;
  height: calc(100% - 120px);
  background-color: lightgray;
}

td,
th {
  text-align: left;
  padding: 0.5rem 1rem;
}

tbody tr:nth-child(odd) {
  background-color: #ccc;
}

th {
  background-color: #444;
  color: #fff;
}

.col1 {
  width: 9%;
}
.col2 {
  width: 18%;
}
.col3 {
  width: 16%;
}
.col4 {
  width: 20%;
}
.col5 {
  width: 1%;
}

/* 회원 가입 */
#register-button {
  color: white;
  background-color: #303c54;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); /* 배경 어둡게 */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto 40px;
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* 모달 너비 조정 */
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* 그림자 효과 */
}

.input-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center; /* 입력 필드와 레이블을 세로 중앙 정렬 */
  justify-content: space-between; /* 입력 필드와 버튼을 좌우 정렬 */
}

.input-container label {
  margin-right: 10px;
  flex: 1; /* 레이블이 동적으로 크기 조정되도록 */
  text-align: right;
  font-size: 0.9em;
}

.input-container input::placeholder {
  font-size: 0.75em; /* 텍스트 크기를 조절합니다. */
}

.input-container input {
  padding: 8px;
  margin-right: 10px; /* 간격 추가 */
  flex: 3; /* 첫 번째 input 창을 제외하고 동적으로 크기 조정되도록 */
}

.input-container button {
  padding: 3px 5px;
  cursor: pointer; /* 커서 포인터 효과 */
}

#checkDuplicate {
  font-size: 0.5em; /* 텍스트 크기를 조절합니다. */
}

.modal-buttons button {
  cursor: pointer; /* 커서 포인터 효과 */
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}

#cancelBtn {
  flex-grow: 0; /* 버튼이 더 이상 확장되지 않도록 설정 */
}

#registerBtn {
  flex-grow: 0; /* 버튼이 더 이상 확장되지 않도록 설정 */
  margin-left: auto; /* 오른쪽으로 이동하여 우측에 위치하도록 설정 */
}

#modifyBtn {
  flex-grow: 0;
  margin-left: auto;
}

/* 회원정보 수정 */
#my-table thead th i.fa-solid.fa-pen {
  cursor: auto;
}

#user-table-body i.fa-solid.fa-pen {
  cursor: pointer;
}

/* 회원 삭제 */
#delete-area {
  width: 5%;
  height: 50px;
  float: left;
}

#delete-button {
  background-color: #ddd;
  cursor: pointer;
}

#deleteButton:hover {
  background-color: lightblue;
}

/* 삭제 모달 */
/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn-container {
  text-align: center;
}

.modal-buttons button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

#confirmDeleteButton {
  background-color: red;
  color: white;
}

#cancelButton {
  background-color: #ccc;
} */

/* 회원 등록 */
#register-area {
  width: 5%;
  height: 50px;
  float: right;
}

/* 페이지네이션 */
.pagination {
  width: 89%;
  height: 50px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #ffffff;
}

.pagination span {
  color: #fff;
  font-size: 1.2em;
}

.pagination i {
  cursor: pointer;
}

#numbers {
  padding: 0;
  margin: 0 2rem;
  list-style-type: none;
  display: flex;
}

#numbers li a {
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
  opacity: 0.7;
}

#numbers li a:hover {
  opacity: 1;
}

#numbers li a.active {
  opacity: 1;
  background: #2387e5;
  color: #333;
}

/* 푸터 */
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
