header {
  background-color: darkgray;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

main {
  background-color: lightgray;
  height: 900px;
  display: flex;
  padding-left: 320px;
  padding-top: 120px;
  align-items: flex-start;
  /* align-items: center;
  padding-left: 20px;
  padding-top: 120px; */
}

.sidebar {
  width: 300px;
  border: 0.5px solid rgba(0, 0, 0, 0.507);
  /* padding: 10px; */
  position: fixed;
  top: 100px;
  left: 0;
  bottom: 100px;
  z-index: 1;
}

.first-sidebar {
  height: 50px;
  border: 0.5px solid #808080;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.second-sidebar {
  height: 50px;
  border: 0.5px solid #808080;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.second-sidebar:hover {
  background-color: lightblue;
}

.third-sidebar {
  height: 50px;
  border: 0.5px solid #808080;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.third-sidebar:hover {
  background-color: lightblue;
}

.sidebar-content {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.fourth-sidebar {
  height: 600px;
  border: 0.5px solid #808080;
}

.body {
  display: flex;
  flex-direction: column;
  height: 900px;
}

.body-top {
  display: flex;
  height: 50px;
}

.body-top-left {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.body-top-right {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.body-top-bottom-line {
  width: 80%;
  height: 3px;
  background-color: #ccc;
  margin: 0 auto;
}

.body-bottom {
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 2px solid #ccc; /* 실선 효과 */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Table style */
td,
th {
  text-align: left;
  padding: 0.5rem 1rem;
}

#my-table {
  width: 1400px;
  margin: 100px auto;
  margin-left: 50px;
  margin-bottom: 10px;
}

tbody tr:nth-child(odd) {
  background-color: #ccc;
}

th {
  background-color: #444;
  color: #fff;
}

.col1 {
  width: 10%;
}
.col2 {
  width: 18%;
}
.col3 {
  width: 16%;
}
.col4 {
  width: 20%;
}

/* 검색창 */
.search-container {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

#searchInput::placeholder {
  font-size: 14px;
}

.search-container input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-left: 5px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

/* Pagination */
.pagination {
  width: 100%;
  background: #333;
  padding: 1rem;
  /* margin-bottom: 1rem; */
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination i {
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#numbers {
  padding: 0;
  margin: 0 2rem;
  list-style-type: none;
  display: flex;
}

#numbers li a {
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  opacity: 0.7;
}

#numbers li a:hover {
  opacity: 1;
}

#numbers li a.active {
  opacity: 1;
  background: #fff;
  color: #333;
}

/* 회원가입, 삭제 */

#deleteButton,
#registerButton {
  background-color: #ddd;
  border: none;
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
}

#deleteButton {
  margin-left: -100px;
}

#registerButton {
  margin-right: -100px;
}

#deleteButton:hover,
#registerButton:hover {
  background-color: lightblue;
}

/* 회원가입 모달 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.input-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.input-container label {
  margin-right: 10px;
}

.input-container input {
  flex: 1;
  padding: 8px;
}

.input-container button {
  margin-top: 20px;
  padding: 6px 12px;
}

.modal-content button {
  margin-top: 20px;
}

/* 삭제 모달 */
.btn-container {
  text-align: center;
  margin-top: 20px;
}

/* 푸터 */
footer {
  background-color: darkgray;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
